.header {
	height: 3vw;
 	background-color: black;
}

.grande {
	height: 30vw;
 	background-color: black;
 	margin-top: 1vw;
}

.circ {
	background-color: red;
	height: 30vw;
	width: 30vw;
	border-radius: 50%;
}

.row {
	margin-top: 1vw;
}

.middle {
	height: 4vw;
 	background-color: black;
 	margin-top: 1vw;
}

.col-md-12 {
	background-color: green;
	height: 20vw;
}

.bottom {
	height: 3vw;
 	background-color: black;
 	margin-top: 1vw;
}

.col-md-1 {
	background-color: pink;
	height: 20vw;
}

.col-md-6 {
	background-color: pink;
	height: 20vw;
}

.col-md-5 {
	background-color: orange;
	height: 20vw;
}