.header {
	background-color: black;
	height: 3vw;
}

.coso {
	background-color: black;
	height: 40vw;	
	margin-top: 1vw;
}

.row {
	height: 20vw;
	margin-top: 1vw;
	background-color: yellow;
}

.container {
	background-color: black;
	height: 100%;
	width: 100%;
}

.cosa {
	background-color: black;
	height: 30vw;
	margin-top: 1vw;
}

.columnas {
	background-color: black;
	height: 30vw;	
	margin: 1vw;
}

.bottom {
	background-color: black;
	height: 3vw;
	margin-top: 1vw;
}